.scheduler-timebar {
    display:grid;
    grid-auto-rows: 5em;
    .hour-segment {
        display: grid;
        &:nth-child(odd) {
            background-color: #fafafa;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #e1e1e1;
        }
        .segment {
            text-align: center;
            vertical-align: middle;
            padding-top: 0.2em;
            font-weight: 100;
            &:hover {
                background-color: #ededed;
            }
            &:not(:last-child) {
                border-bottom: thin dashed #e1e1e1;
            }
        }
    }
}