.scheduler-timebar-col {
    display: grid;
    grid-template-rows: repeat( auto-fit, auto );
    .hour-segment {
        display: grid;
        grid-template-rows: repeat(auto-fit, auto);
        height: 3em;
        .segment {
            text-align: center;
            padding-top: 0.2em;
        }
    }
}